# Pandas Code to suck in RWC 2023 schedule and map the games.
The goal is to learn some pandas & geopandas. Make some maps that can filter on dates. Maybe give some help on navigating between game cities.
### Just running through some tutorial tests to insure it's all imported correctly.

In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from unicodedata import normalize
from IPython.display import display, HTML
import geopandas as gpd
from geopandas.tools import geocode
import geopy

In [2]:
pd.__version__

'1.2.3'

In [3]:
np.__version__

'1.19.2'

In [3]:
gpd.__version__

'0.9.0'

In [5]:
geopy.__version__

'2.1.0'

In [4]:
pd.options.display.max_columns = None

In [5]:
table_MN = pd.read_html('https://en.wikipedia.org/wiki/Minnesota')

In [6]:
print(f'Total tables: {len(table_MN)}')

Total tables: 28

In [7]:
table_MN = pd.read_html('https://en.wikipedia.org/wiki/Minnesota', match='Election results from statewide races')
len(table_MN)

1

In [8]:
df = table_MN[0]
df.head()

   Year     Office    GOP    DFL Others
0  2020  President  45.3%  52.4%   2.3%
1  2020    Senator  43.5%  48.8%   7.7%
2  2018   Governor  42.4%  53.9%   3.7%
3  2018    Senator  36.2%  60.3%   3.4%
4  2018    Senator  42.4%  53.0%   4.6%

## RWC 2023 Fixtures

RWC 2023 official schedule: https://www.rugbyworldcup.com/2023/matches
RWC 2023 Wikipedia page with uniform tables: https://en.wikipedia.org/wiki/2023_Rugby_World_Cup

In [9]:
table_RWC = pd.read_html('https://en.wikipedia.org/wiki/2023_Rugby_World_Cup')

In [10]:
print(f'Total tables: {len(table_RWC)}')

Total tables: 15

In [11]:
df = table_RWC[0]
df.head()

  Coupe du monde de rugby 2023 Coupe du monde de rugby 2023.1
0  We Are Rugby #WeAre2023![1]    We Are Rugby #WeAre2023![1]
1           Tournament details             Tournament details
2                  Host nation                         France
3                        Dates       8 September – 28 October
4               No. of nations                             20

In [12]:
display(*table_RWC)

  Coupe du monde de rugby 2023 Coupe du monde de rugby 2023.1
0  We Are Rugby #WeAre2023![1]    We Are Rugby #WeAre2023![1]
1           Tournament details             Tournament details
2                  Host nation                         France
3                        Dates       8 September – 28 October
4               No. of nations                             20
5                ← 2019 2027 →                  ← 2019 2027 →

,Region,Team,Qualificationmethod,Previous apps,Previous best result,World RugbyRanking
0,Africa,South Africa,Top 3 in 2019 RWC pool,7,"Champions (1995, 2007, 2019)",NaN
1,Asia,Japan,Top 3 in 2019 RWC pool,9,Quarter-finals (2019),NaN
2,Europe,England,Top 3 in 2019 RWC pool,9,Champions (2003),NaN
3,Europe,France,Hosts,9,"Runners-up (1987, 1999, 2011)",NaN
4,Europe,Ireland,Top 3 in 2019 RWC pool,9,Quarter-finals (seven times),NaN
5,Europe,Italy,Top 3 in 2019 RWC pool,9,Pool stage,NaN
6,Europe,Scotland,Top 3 in 2019 RWC pool,9,Fourth place (1991),NaN
7,Europe,Wales,Top 3 in 2019 RWC pool,9,Third place (1987),NaN
8,Oceania,Australia,Top 3 in 2019 RWC pool,9,"Champions (1991, 1999)",NaN
9,Oceania,Fiji,Top 3 in 2019 RWC pool,8,"Quarter-finals (1987, 2007)",NaN
10,Oceania,New Zealand,Top 3 in 2019 RWC pool,9,"Champions (1987, 2011, 2015)",NaN
11,South America,Argentina,Top 3 in 2019 RWC pool,9,Third place (2007),NaN

,Band 1,Band 2,Band 3,Band 4,Band 5
0,South Africa (1) New Zealand (2) England (3)...,Ireland (5) Australia (6) France (7) Japan (8),Scotland (9) Argentina (10) Fiji (11) Italy...,Oceania 1 Europe 1 Americas 1 Asia/Pacific 1,Africa 1 Europe 2 Americas 2 Final Qualifier W...

,Saint-Denis(Paris),Marseille,Décines-Charpieu(Lyon),Villeneuve-d'Ascq(Lille)
0,Stade de Franceab,Stade Vélodromea,Parc Olympique Lyonnais,Stade Pierre-Mauroy
1,"Capacity: 80,698","Capacity: 67,394","Capacity: 59,186","Capacity: 50,157"
2,NaN,NaN,NaN,NaN
3,Bordeaux,.mw-parser-output .locmap .od{position:absolut...,.mw-parser-output .locmap .od{position:absolut...,.mw-parser-output .locmap .od{position:absolut...
4,Matmut Atlantique,.mw-parser-output .locmap .od{position:absolut...,.mw-parser-output .locmap .od{position:absolut...,.mw-parser-output .locmap .od{position:absolut...
5,"Capacity: 42,115",.mw-parser-output .locmap .od{position:absolut...,.mw-parser-output .locmap .od{position:absolut...,.mw-parser-output .locmap .od{position:absolut...
6,NaN,.mw-parser-output .locmap .od{position:absolut...,.mw-parser-output .locmap .od{position:absolut...,.mw-parser-output .locmap .od{position:absolut...
7,Saint-Étienne,Nice,Nantes,Toulouse
8,Stade Geoffroy-Guicharda,Allianz Riviera,Stade de la Beaujoirea,Stadium Municipalab
9,"Capacity: 41,965","Capacity: 35,624","Capacity: 35,322","Capacity: 33,150"
10,NaN,NaN,NaN,NaN

,"Team.mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:""[ ""}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:"" ]""}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}.mw-parser-output .infobox .navbar{font-size:100%}.mw-parser-output .navbox .navbar{display:block;font-size:100%}.mw-parser-output .navbox-title .navbar{float:left;text-align:left;margin-right:0.5em}vte",Pld,W,D,L,TF,PF,PA,+/−,BP,Pts
0,New Zealand,0,0,0,0,0,0,0,0,0,0
1,France,0,0,0,0,0,0,0,0,0,0
2,Italy,0,0,0,0,0,0,0,0,0,0
3,Americas 1,0,0,0,0,0,0,0,0,0,0
4,Africa 1,0,0,0,0,0,0,0,0,0,0

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,8 September 2023,France,v,New Zealand,"Stade de France, Saint-Denis"
1,9 September 2023,Italy,v,Africa 1,"Stade Geoffroy Guichard, Saint-Etienne"
2,14 September 2023,France,v,Americas 1,"Stade Pierre-Mauroy, Lille"
3,15 September 2023,New Zealand,v,Africa 1,"Stadium, Toulouse"
4,20 September 2023,Italy,v,Americas 1,"Allianz Riviera, Nice"
5,21 September 2023,France,v,Africa 1,"Stade Vélodrome, Marseille"
6,27 September 2023,Americas 1,v,Africa 1,"Groupama Stadium, Décines-Charpieu"
7,29 September 2023,New Zealand,v,Italy,"Groupama Stadium, Décines-Charpieu"
8,5 October 2023,New Zealand,v,Americas 1,"Groupama Stadium, Décines-Charpieu"
9,6 October 2023,France,v,Italy,"Groupama Stadium, Décines-Charpieu"

          Teamvte  Pld  W  D  L  TF  PF  PA  +/−  BP  Pts
0    South Africa    0  0  0  0   0   0   0    0   0    0
1         Ireland    0  0  0  0   0   0   0    0   0    0
2        Scotland    0  0  0  0   0   0   0    0   0    0
3  Asia/Pacific 1    0  0  0  0   0   0   0    0   0    0
4        Europe 2    0  0  0  0   0   0   0    0   0    0

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,9 September 2023,Ireland,v,Europe 2,"Matmut Atlantique, Bordeaux"
1,10 September 2023,South Africa,v,Scotland,"Stade Vélodrome, Marseille"
2,16 September 2023,Ireland,v,Asia/Pacific 1,"Stade de la Beaujoire, Nantes"
3,17 September 2023,South Africa,v,Europe 2,"Matmut Atlantique, Bordeaux"
4,23 September 2023,South Africa,v,Ireland,"Stade de France, Saint-Denis"
5,24 September 2023,Scotland,v,Asia/Pacific 1,"Allianz Riviera, Nice"
6,30 September 2023,Scotland,v,Europe 2,"Stade Pierre-Mauroy, Lille"
7,1 October 2023,South Africa,v,Asia/Pacific 1,"Stade Vélodrome, Marseille"
8,7 October 2023,Ireland,v,Scotland,"Stade de France, Saint-Denis"
9,8 October 2023,Asia/Pacific 1,v,Europe 2,"Stade Pierre-Mauroy, Lille"

                  Teamvte  Pld  W  D  L  TF  PF  PA  +/−  BP  Pts
0                   Wales    0  0  0  0   0   0   0    0   0    0
1               Australia    0  0  0  0   0   0   0    0   0    0
2                    Fiji    0  0  0  0   0   0   0    0   0    0
3                Europe 1    0  0  0  0   0   0   0    0   0    0
4  Final Qualifier Winner    0  0  0  0   0   0   0    0   0    0

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,9 September 2023,Australia,v,Europe 1,"Stade de France, Saint-Denis"
1,10 September 2023,Wales,v,Fiji,"Matmut Atlantique, Bordeaux"
2,16 September 2023,Wales,v,Final Qualifier Winner,"Allianz Riviera, Nice"
3,17 September 2023,Australia,v,Fiji,"Stade Geoffroy Guichard, Saint-Etienne"
4,23 September 2023,Europe 1,v,Final Qualifier Winner,"Stadium, Toulouse"
5,24 September 2023,Wales,v,Australia,"Groupama Stadium, Décines-Charpieu"
6,30 September 2023,Fiji,v,Europe 1,"Matmut Atlantique, Bordeaux"
7,1 October 2023,Australia,v,Final Qualifier Winner,"Stade Geoffroy Guichard, Saint-Etienne"
8,7 October 2023,Wales,v,Europe 1,"Stade de la Beaujoire, Nantes"
9,8 October 2023,Fiji,v,Final Qualifier Winner,"Stadium, Toulouse"

      Teamvte  Pld  W  D  L  TF  PF  PA  +/−  BP  Pts
0     England    0  0  0  0   0   0   0    0   0    0
1       Japan    0  0  0  0   0   0   0    0   0    0
2   Argentina    0  0  0  0   0   0   0    0   0    0
3   Oceania 1    0  0  0  0   0   0   0    0   0    0
4  Americas 2    0  0  0  0   0   0   0    0   0    0

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,9 September 2023,England,v,Argentina,"Stade Vélodrome, Marseille"
1,10 September 2023,Japan,v,Americas 2,"Stadium, Toulouse"
2,16 September 2023,Oceania 1,v,Americas 2,"Matmut Atlantique, Bordeaux"
3,17 September 2023,England,v,Japan,"Allianz Riviera, Nice"
4,22 September 2023,Argentina,v,Oceania 1,"Stade Geoffroy Guichard, Saint-Etienne"
5,23 September 2023,England,v,Americas 2,"Stade Pierre-Mauroy, Lille"
6,28 September 2023,Japan,v,Oceania 1,"Stadium, Toulouse"
7,30 September 2023,Argentina,v,Americas 2,"Stade de la Beaujoire, Nantes"
8,7 October 2023,England,v,Oceania 1,"Stade Pierre-Mauroy, Lille"
9,8 October 2023,Japan,v,Argentina,"Stade de la Beaujoire, Nantes"

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,NaN,Quarter-finals,Quarter-finals,NaN,NaN,Semi-finals,Semi-finals,NaN,NaN,Final,Final,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,14 October – Marseille,14 October – Marseille,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,14 October – Marseille,14 October – Marseille,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Winner of Pool C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,Winner of Pool C,NaN,NaN,NaN,20 October – Saint-Denis,20 October – Saint-Denis,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,Runner-up of Pool D,NaN,NaN,NaN,20 October – Saint-Denis,20 October – Saint-Denis,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,Runner-up of Pool D,NaN,NaN,NaN,Winner of QF1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,14 October – Saint-Denis,14 October – Saint-Denis,NaN,NaN,Winner of QF1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,14 October – Saint-Denis,14 October – Saint-Denis,NaN,NaN,Winner of QF2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,Winner of Pool B,NaN,NaN,NaN,Winner of QF2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,Winner of Pool B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28 October – Saint-Denis,28 October – Saint-Denis,NaN,NaN
12,NaN,Runner-up of Pool A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28 October – Saint-Denis,28 October – Saint-Denis,NaN,NaN
13,NaN,Runner-up of Pool A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Winner of SF1,NaN,NaN,NaN
14,NaN,15 October – Marseille,15 October – Marseille,NaN,NaN,NaN,NaN,NaN,NaN,Winner of SF1,NaN,NaN,NaN
15,NaN,15 October – Marseille,15 October – Marseille,NaN,NaN,NaN,NaN,NaN,NaN,Winner of SF2,NaN,NaN,NaN
16,NaN,Winner of Pool D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Winner of SF2,NaN,NaN,NaN
17,NaN,Winner of Pool D,NaN,NaN,NaN,21 October – Saint-Denis,21 October – Saint-Denis,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,Runner-up of Pool C,NaN,NaN,NaN,21 October – Saint-Denis,21 October – Saint-Denis,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,Runner-up of Pool C,NaN,NaN,NaN,Winner of QF3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,15 October – Saint-Denis,15 October – Saint-Denis,NaN,NaN,Winner of QF3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,15 October – Saint-Denis,15 October – Saint-Denis,NaN,NaN,Winner of QF4,NaN,NaN,NaN,Third place,Third place,NaN,NaN
22,NaN,Winner of Pool A,NaN,NaN,NaN,Winner of QF4,NaN,NaN,NaN,Third place,Third place,NaN,NaN
23,NaN,Winner of Pool A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27 October – Saint-Denis,27 October – Saint-Denis,NaN,NaN
24,NaN,Runner-up of Pool B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27 October – Saint-Denis,27 October – Saint-Denis,NaN,NaN
25,NaN,Runner-up of Pool B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Loser of SF1,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Loser of SF1,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Loser of SF2,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Loser of SF2,NaN

,vteVenues for the 2023 Rugby World Cup,vteVenues for the 2023 Rugby World Cup.1
0,Nouveau Stade de Bordeaux (Bordeaux) Stade de ...,Nouveau Stade de Bordeaux (Bordeaux) Stade de ...

,vteRugby World Cup,vteRugby World Cup.1
0,Tournaments,Australia / New Zealand 1987 England / France ...
1,Qualifying,1987 1991 1995 1999 2003 2007 2011 2015 2019 2023
2,Finals,1987 1991 1995 1999 2003 2007 2011 2015 2019 2023
3,Squads,1987 1991 1995 1999 2003 2007 2011 2015 2019 2023
4,Statistics,1987 1991 1995 1999 2003 2007 2011 2015 2019 2023
5,Overview,Final History Hosts Qualification Theme song T...
6,Overall records,All-time table Hat-tricks Multiple winners Rec...
7,Notes: There was no qualification for the 1987...,Notes: There was no qualification for the 1987...

The Tables with the pool schedules are: 5, 7, 9, 11

In [13]:
display(table_RWC[5])

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,8 September 2023,France,v,New Zealand,"Stade de France, Saint-Denis"
1,9 September 2023,Italy,v,Africa 1,"Stade Geoffroy Guichard, Saint-Etienne"
2,14 September 2023,France,v,Americas 1,"Stade Pierre-Mauroy, Lille"
3,15 September 2023,New Zealand,v,Africa 1,"Stadium, Toulouse"
4,20 September 2023,Italy,v,Americas 1,"Allianz Riviera, Nice"
5,21 September 2023,France,v,Africa 1,"Stade Vélodrome, Marseille"
6,27 September 2023,Americas 1,v,Africa 1,"Groupama Stadium, Décines-Charpieu"
7,29 September 2023,New Zealand,v,Italy,"Groupama Stadium, Décines-Charpieu"
8,5 October 2023,New Zealand,v,Americas 1,"Groupama Stadium, Décines-Charpieu"
9,6 October 2023,France,v,Italy,"Groupama Stadium, Décines-Charpieu"

In [14]:
poolA = table_RWC[5]

In [15]:
display(poolA)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,8 September 2023,France,v,New Zealand,"Stade de France, Saint-Denis"
1,9 September 2023,Italy,v,Africa 1,"Stade Geoffroy Guichard, Saint-Etienne"
2,14 September 2023,France,v,Americas 1,"Stade Pierre-Mauroy, Lille"
3,15 September 2023,New Zealand,v,Africa 1,"Stadium, Toulouse"
4,20 September 2023,Italy,v,Americas 1,"Allianz Riviera, Nice"
5,21 September 2023,France,v,Africa 1,"Stade Vélodrome, Marseille"
6,27 September 2023,Americas 1,v,Africa 1,"Groupama Stadium, Décines-Charpieu"
7,29 September 2023,New Zealand,v,Italy,"Groupama Stadium, Décines-Charpieu"
8,5 October 2023,New Zealand,v,Americas 1,"Groupama Stadium, Décines-Charpieu"
9,6 October 2023,France,v,Italy,"Groupama Stadium, Décines-Charpieu"

In [16]:
poolB = table_RWC[7]
poolC = table_RWC[9]
poolD = table_RWC[11]

In [17]:
rwc_pools = [poolA, poolB, poolC, poolD]

In [18]:
print(f'Total matches Pool A: {len(poolA)}')

Total matches Pool A: 10

Match Dates Pool A:

In [19]:
poolA.iloc[:10, [4]]

                               Unnamed: 4
0            Stade de France, Saint-Denis
1  Stade Geoffroy Guichard, Saint-Etienne
2              Stade Pierre-Mauroy, Lille
3                       Stadium, Toulouse
4                   Allianz Riviera, Nice
5              Stade Vélodrome, Marseille
6      Groupama Stadium, Décines-Charpieu
7      Groupama Stadium, Décines-Charpieu
8      Groupama Stadium, Décines-Charpieu
9      Groupama Stadium, Décines-Charpieu

In [20]:
poolA.to_csv('PoolA.csv', encoding='utf-8-sig')

In [21]:
poolB.to_csv('PoolB.csv', encoding='utf-8-sig')
poolC.to_csv('PoolC.csv', encoding='utf-8-sig')
poolD.to_csv('PoolD.csv', encoding='utf-8-sig')

### Imported to Excel
It was easier to do some work in excel. One day I'll figure out how to do it in Pandas. Needed to:
- Concatenate all the pools into one schedule.
- Sort by Date and Pool
- Add an index column
- Add a country column.
- Get rid of the "v" column.
- Format the date column to be a date.

### Read from Excel
Suck it back into Pandas and try to use Geopandas to map it.

In [6]:
df2 = pd.read_csv('RWC2023Pools.csv')
df2.head()

,ID,Pool,Row,Date,Team 1,Team 2,Place,Country
0,1,A,0,2023-09-08,France,New Zealand,"Stade de France, Saint-Denis",FRA
1,2,A,1,2023-09-09,Italy,Africa 1,"Stade Geoffroy Guichard, Saint-Etienne",FRA
2,3,B,0,2023-09-09,Ireland,Europe 2,"Matmut Atlantique, Bordeaux",FRA
3,4,C,0,2023-09-09,Australia,Europe 1,"Stade de France, Saint-Denis",FRA
4,5,D,0,2023-09-09,England,Argentina,"Stade Vélodrome, Marseille",FRA

In [7]:
len(df2)

40

In [11]:
df2.iloc[:len(df2), [6]]

                                     Place
0             Stade de France, Saint-Denis
1   Stade Geoffroy Guichard, Saint-Etienne
2              Matmut Atlantique, Bordeaux
3             Stade de France, Saint-Denis
4               Stade Vélodrome, Marseille
5               Stade Vélodrome, Marseille
6              Matmut Atlantique, Bordeaux
7                        Stadium, Toulouse
8               Stade Pierre-Mauroy, Lille
9                        Stadium, Toulouse
10           Stade de la Beaujoire, Nantes
11                   Allianz Riviera, Nice
12             Matmut Atlantique, Bordeaux
13             Matmut Atlantique, Bordeaux
14  Stade Geoffroy Guichard, Saint-Etienne
15                   Allianz Riviera, Nice
16                   Allianz Riviera, Nice
17              Stade Vélodrome, Marseille
18  Stade Geoffroy Guichard, Saint-Etienne
19            Stade de France, Saint-Denis
20                       Stadium, Toulouse
21              Stade Pierre-Mauroy, Lille
22                   Allianz Riviera, Nice
23      Groupama Stadium, Décines-Charpieu
24      Groupama Stadium, Décines-Charpieu
25                       Stadium, Toulouse
26      Groupama Stadium, Décines-Charpieu
27              Stade Pierre-Mauroy, Lille
28             Matmut Atlantique, Bordeaux
29           Stade de la Beaujoire, Nantes
30              Stade Vélodrome, Marseille
31  Stade Geoffroy Guichard, Saint-Etienne
32      Groupama Stadium, Décines-Charpieu
33      Groupama Stadium, Décines-Charpieu
34            Stade de France, Saint-Denis
35           Stade de la Beaujoire, Nantes
36              Stade Pierre-Mauroy, Lille
37              Stade Pierre-Mauroy, Lille
38                       Stadium, Toulouse
39           Stade de la Beaujoire, Nantes

In [12]:
stadiums = df2.iloc[:len(df2), [6]]

In [17]:
df2.Place

0               Stade de France, Saint-Denis
1     Stade Geoffroy Guichard, Saint-Etienne
2                Matmut Atlantique, Bordeaux
3               Stade de France, Saint-Denis
4                 Stade Vélodrome, Marseille
5                 Stade Vélodrome, Marseille
6                Matmut Atlantique, Bordeaux
7                          Stadium, Toulouse
8                 Stade Pierre-Mauroy, Lille
9                          Stadium, Toulouse
10             Stade de la Beaujoire, Nantes
11                     Allianz Riviera, Nice
12               Matmut Atlantique, Bordeaux
13               Matmut Atlantique, Bordeaux
14    Stade Geoffroy Guichard, Saint-Etienne
15                     Allianz Riviera, Nice
16                     Allianz Riviera, Nice
17                Stade Vélodrome, Marseille
18    Stade Geoffroy Guichard, Saint-Etienne
19              Stade de France, Saint-Denis
20                         Stadium, Toulouse
21                Stade Pierre-Mauroy, Lille
22                     Allianz Riviera, Nice
23        Groupama Stadium, Décines-Charpieu
24        Groupama Stadium, Décines-Charpieu
25                         Stadium, Toulouse
26        Groupama Stadium, Décines-Charpieu
27                Stade Pierre-Mauroy, Lille
28               Matmut Atlantique, Bordeaux
29             Stade de la Beaujoire, Nantes
30                Stade Vélodrome, Marseille
31    Stade Geoffroy Guichard, Saint-Etienne
32        Groupama Stadium, Décines-Charpieu
33        Groupama Stadium, Décines-Charpieu
34              Stade de France, Saint-Denis
35             Stade de la Beaujoire, Nantes
36                Stade Pierre-Mauroy, Lille
37                Stade Pierre-Mauroy, Lille
38                         Stadium, Toulouse
39             Stade de la Beaujoire, Nantes
Name: Place, dtype: object

In [13]:
display(stadiums)

                                     Place
0             Stade de France, Saint-Denis
1   Stade Geoffroy Guichard, Saint-Etienne
2              Matmut Atlantique, Bordeaux
3             Stade de France, Saint-Denis
4               Stade Vélodrome, Marseille
5               Stade Vélodrome, Marseille
6              Matmut Atlantique, Bordeaux
7                        Stadium, Toulouse
8               Stade Pierre-Mauroy, Lille
9                        Stadium, Toulouse
10           Stade de la Beaujoire, Nantes
11                   Allianz Riviera, Nice
12             Matmut Atlantique, Bordeaux
13             Matmut Atlantique, Bordeaux
14  Stade Geoffroy Guichard, Saint-Etienne
15                   Allianz Riviera, Nice
16                   Allianz Riviera, Nice
17              Stade Vélodrome, Marseille
18  Stade Geoffroy Guichard, Saint-Etienne
19            Stade de France, Saint-Denis
20                       Stadium, Toulouse
21              Stade Pierre-Mauroy, Lille
22                   Allianz Riviera, Nice
23      Groupama Stadium, Décines-Charpieu
24      Groupama Stadium, Décines-Charpieu
25                       Stadium, Toulouse
26      Groupama Stadium, Décines-Charpieu
27              Stade Pierre-Mauroy, Lille
28             Matmut Atlantique, Bordeaux
29           Stade de la Beaujoire, Nantes
30              Stade Vélodrome, Marseille
31  Stade Geoffroy Guichard, Saint-Etienne
32      Groupama Stadium, Décines-Charpieu
33      Groupama Stadium, Décines-Charpieu
34            Stade de France, Saint-Denis
35           Stade de la Beaujoire, Nantes
36              Stade Pierre-Mauroy, Lille
37              Stade Pierre-Mauroy, Lille
38                       Stadium, Toulouse
39           Stade de la Beaujoire, Nantes

In [24]:
result = geocode("The Great Pyramid of Giza", provider="Bing")
result

TypeError: __init__() missing 1 required positional argument: 'api_key'

### Geocoding the stadiums
Use the geopy geocoder that's part of the Geopandas library

In [34]:
stadium_locations = gpd.tools.geocode(df2.Place, provider='nominatim', user_agent="wf_test1")

In [35]:
display(stadium_locations)

,geometry,address
0,POINT (2.36013 48.92447),"Stade de France, Rue Henri Delaunay, Saint-Den..."
1,POINT (4.39009 45.46076),"Stade Geoffroy-Guichard, 14, Rue Paul et Pierr..."
2,POINT (-0.56161 44.89735),"Matmut ATLANTIQUE, Avenue de la Jallère, Le La..."
3,POINT (2.36013 48.92447),"Stade de France, Rue Henri Delaunay, Saint-Den..."
4,POINT (5.39093 43.26997),"Pharmacie du Stade Vélodrome, Rue Négresko, Sa..."
5,POINT (5.39093 43.26997),"Pharmacie du Stade Vélodrome, Rue Négresko, Sa..."
6,POINT (-0.56161 44.89735),"Matmut ATLANTIQUE, Avenue de la Jallère, Le La..."
7,POINT (1.43061 43.58410),"Stadium, Allée Fernand Jourdant, Saint-Michel,..."
8,POINT (3.13045 50.61204),"Stade Pierre-Mauroy, Voie de Desserte Interne,..."
9,POINT (1.43061 43.58410),"Stadium, Allée Fernand Jourdant, Saint-Michel,..."
10,POINT (-1.52448 47.25684),"Stade de la Beaujoire, La Beaujoire, Route de ..."
11,POINT (7.19260 43.70515),"Allianz Riviera, Allée Camille Muffat, Nice, A..."
12,POINT (-0.56161 44.89735),"Matmut ATLANTIQUE, Avenue de la Jallère, Le La..."
13,POINT (-0.56161 44.89735),"Matmut ATLANTIQUE, Avenue de la Jallère, Le La..."
14,POINT (4.39009 45.46076),"Stade Geoffroy-Guichard, 14, Rue Paul et Pierr..."
15,POINT (7.19260 43.70515),"Allianz Riviera, Allée Camille Muffat, Nice, A..."
16,POINT (7.19260 43.70515),"Allianz Riviera, Allée Camille Muffat, Nice, A..."
17,POINT (5.39093 43.26997),"Pharmacie du Stade Vélodrome, Rue Négresko, Sa..."
18,POINT (4.39009 45.46076),"Stade Geoffroy-Guichard, 14, Rue Paul et Pierr..."
19,POINT (2.36013 48.92447),"Stade de France, Rue Henri Delaunay, Saint-Den..."
20,POINT (1.43061 43.58410),"Stadium, Allée Fernand Jourdant, Saint-Michel,..."
21,POINT (3.13045 50.61204),"Stade Pierre-Mauroy, Voie de Desserte Interne,..."
22,POINT (7.19260 43.70515),"Allianz Riviera, Allée Camille Muffat, Nice, A..."
23,POINT (4.98126 45.76486),"Groupama Stadium, 10, Avenue Simone Veil, Déci..."
24,POINT (4.98126 45.76486),"Groupama Stadium, 10, Avenue Simone Veil, Déci..."
25,POINT (1.43061 43.58410),"Stadium, Allée Fernand Jourdant, Saint-Michel,..."
26,POINT (4.98126 45.76486),"Groupama Stadium, 10, Avenue Simone Veil, Déci..."
27,POINT (3.13045 50.61204),"Stade Pierre-Mauroy, Voie de Desserte Interne,..."
28,POINT (-0.56161 44.89735),"Matmut ATLANTIQUE, Avenue de la Jallère, Le La..."
29,POINT (-1.52448 47.25684),"Stade de la Beaujoire, La Beaujoire, Route de ..."
30,POINT (5.39093 43.26997),"Pharmacie du Stade Vélodrome, Rue Négresko, Sa..."
31,POINT (4.39009 45.46076),"Stade Geoffroy-Guichard, 14, Rue Paul et Pierr..."
32,POINT (4.98126 45.76486),"Groupama Stadium, 10, Avenue Simone Veil, Déci..."
33,POINT (4.98126 45.76486),"Groupama Stadium, 10, Avenue Simone Veil, Déci..."
34,POINT (2.36013 48.92447),"Stade de France, Rue Henri Delaunay, Saint-Den..."
35,POINT (-1.52448 47.25684),"Stade de la Beaujoire, La Beaujoire, Route de ..."
36,POINT (3.13045 50.61204),"Stade Pierre-Mauroy, Voie de Desserte Interne,..."
37,POINT (3.13045 50.61204),"Stade Pierre-Mauroy, Voie de Desserte Interne,..."
38,POINT (1.43061 43.58410),"Stadium, Allée Fernand Jourdant, Saint-Michel,..."
39,POINT (-1.52448 47.25684),"Stade de la Beaujoire, La Beaujoire, Route de ..."

In [36]:
stadium_locations.to_csv('Stadium_Locations.csv', encoding='utf-8-sig')