# Pandas Code to suck in RWC 2023 schedule
### Just running through some tutorial tests to insure it's all imported correctly

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from unicodedata import normalize
from IPython.display import display, HTML

In [ ]:
pd.__version__

In [ ]:
np.__version__

In [ ]:
pd.options.display.max_columns = None

In [ ]:
table_MN = pd.read_html('https://en.wikipedia.org/wiki/Minnesota')

In [ ]:
print(f'Total tables: {len(table_MN)}')

In [ ]:
table_MN = pd.read_html('https://en.wikipedia.org/wiki/Minnesota', match='Election results from statewide races')
len(table_MN)

In [ ]:
df = table_MN[0]
df.head()

## RWC 2023 Fixtures

RWC 2023 official schedule: https://www.rugbyworldcup.com/2023/matches
RWC 2023 Wikipedia page with uniform tables: https://en.wikipedia.org/wiki/2023_Rugby_World_Cup

In [ ]:
table_RWC = pd.read_html('https://en.wikipedia.org/wiki/2023_Rugby_World_Cup')

In [ ]:
print(f'Total tables: {len(table_RWC)}')

In [ ]:
df = table_RWC[0]
df.head()

In [ ]:
display(*table_RWC)

The Tables with the pool schedules are: 5, 7, 9, 11

In [ ]:
display(table_RWC[5])

In [26]:
poolA = table_RWC[5]

In [27]:
display(poolA)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,8 September 2023,France,v,New Zealand,"Stade de France, Saint-Denis"
1,9 September 2023,Italy,v,Africa 1,"Stade Geoffroy Guichard, Saint-Etienne"
2,14 September 2023,France,v,Americas 1,"Stade Pierre-Mauroy, Lille"
3,15 September 2023,New Zealand,v,Africa 1,"Stadium, Toulouse"
4,20 September 2023,Italy,v,Americas 1,"Allianz Riviera, Nice"
5,21 September 2023,France,v,Africa 1,"Stade Vélodrome, Marseille"
6,27 September 2023,Americas 1,v,Africa 1,"Groupama Stadium, Décines-Charpieu"
7,29 September 2023,New Zealand,v,Italy,"Groupama Stadium, Décines-Charpieu"
8,5 October 2023,New Zealand,v,Americas 1,"Groupama Stadium, Décines-Charpieu"
9,6 October 2023,France,v,Italy,"Groupama Stadium, Décines-Charpieu"

In [28]:
poolB = table_RWC[7]
poolC = table_RWC[9]
poolD = table_RWC[11]

In [29]:
rwc_pools = [poolA, poolB, poolC, poolD]

In [55]:
print(f'Total matches Pool A: {len(poolA)}')

Total matches Pool A: 10

Match Dates Pool A:

In [65]:
poolA.iloc[:10, [0]]

          Unnamed: 0
0   8 September 2023
1   9 September 2023
2  14 September 2023
3  15 September 2023
4  20 September 2023
5  21 September 2023
6  27 September 2023
7  29 September 2023
8     5 October 2023
9     6 October 2023

In [69]:
poolA.to_csv('PoolA.csv', encoding='utf-8')